h1,h2{
    color: darkslategrey;
}

.avatar{
    height:    160px;
    width: 160px;
    border-radius: 50%;
    background-image: url('https://unsplash.com/photos/iFgRcqHznqg/download?force=true&w=160');
    background-position: top;
    background-repeat: no-repeat;
}